h1 {
    display: block;
    font-size: 4em;
    position: relative;
    text-align: center;
    font-family: "Laila", serif;
}
.CompParent {
    width: 100%;
    position: relative;
    text-align: center;
}
.CL {
    width: 1.5em;
    font-size: 4em;
    margin-left: 1.6%;
    height: 1.5em auto;
    display: inline-block;
    background-color: beige;
    border: 1px solid black;
    font-family: "Laila", sans-serif;
}
.Gen {
    width: 120px;
    height: auto;
    font-size: 2em;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
    -webkit-user-select: none;
    background-color: burlywood;
    font-family: "Laila", sans-serif;
}
.Gen:active {
    margin-top: 32px;
}
#goo {
    height: 40px;
}



.Parent {
  width: 100%;
  text-align: center;
}

.Pick {
  padding: .7% .4% .7% .4%;
  margin: 0% .5% 0% .5%; 
  width: 4%;
  text-align: center;
  font-size: 3.5em;
  
}

